{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  
  "extends": "airbnb",
  
  "parser": "babel-eslint",
  
  "rules": {
    "comma-dangle": "off",
    "quotes": "off",
    "function-paren-newline": "off",
    "import/newline-after-import": "off",
    "no-restricted-syntax": "off",
    "arrow-parens":"off",
    "no-underscore-dangle":"off"
  }
}