.exercise-card {

}


.exercise-card .card-title {
    font-size: 16px;
}

.exercise-card .card-subtitle {
    font-size: 12px;
}

.exercise-card .card-text {
    font-size: 12px;
}

.exercise-button {
    margin-right: 20px;
}
